$white: white;
$brightBlue: #2196F3;
$darkBlue: #110d5e;
$lavender: #5d5db0;
$red: #c22115;
$darkGreen: #058104;
$background: rgb(8 21 61 / 38%);

$purple: #9b1c9b;
$purpleLight: rgba(155, 28, 155, 0.3);

$blue: #3c3cc0;
$blueLight: rgba(60, 60, 192, 0.3);

$green: #42bb7b;
$greenLight: rgba(66, 187, 123, 0.3);

$mint: #1bab9c;
$mintLight: rgba(27, 171, 156, 0.3);

$orange: rgba(222, 121, 10, 0.88);
$orangeLight: rgba(222, 121, 10, 0.3);

$pink: #a80645;
$pinkLight: rgba(168, 6, 69, 0.3);
