@import 'src/assets/styles/colors';

:host {
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: $white;
    border-radius: 50%;
  }

  .container:hover input ~ .checkmark {
    background-color: $white;
  }

  .container input:checked ~ .checkmark {
    background-color: $pink;
  }

  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }

  .name {
    text-transform: capitalize;
    font-size: 20px;
  }
}


